<!DOCTYPE html>
<html lang="ro">
<head>
	<%- include("../fragmente/head.ejs") %>
	<link rel="stylesheet" href="/resurse/css/confirmare.css" type="text/css" >

	<title>Confirmare</title>
</head>
<body>
	<header>
		<%- include("../fragmente/header.ejs") %>
	</header>
	<div class="container">
		<div>
			<h1>Confirmare mail</h1>
			<p>Totul a functionat bine!</p>
		</div>
	</div>
	<%- include("../fragmente/footer.ejs") %>
</body>
</html>