<!DOCTYPE html>
<html  lang="ro">
    <head>


        
        <meta name="description" content="CKN Sneakers pentru cei mai fresh sneakersi">
        <meta name="keywords" content="adidasi, incaltaminte, incaltaminte sport, sneakers">
        <%- include("../fragmente/head.ejs") %>



    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
    
    <main>
        <h1>Despre noi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quos hic, iusto necessitatibus recusandae fuga suscipit vel soluta, obcaecati incidunt magnam! Consequatur distinctio voluptate exercitationem tempore! Facilis nulla necessitatibus accusantium!</p>
        <video width="500" height="500" poster="/resurse/imagini/retro1.jpg" controls="controls" preload="none">
            <source src="/resurse/imagini/video.mp4" type="video/mp4">
            <track src="/resurse/imagini/mesaje_ro.vtt" kind="subtitles" srclang="ro" label="Romana" default>
            <track src="/resurse/imagini/mesaje_en.vtt" kind="subtitles" srclang="en" label="Engleza">
           </video>

    </main>
    <%- include("../fragmente/footer.ejs") %>
    
    <small>Copyright &copy; <time datetime="2023-02-27">27 Februarie 2023</time> </small>
    <a href="#" id="Link-top" title="Mergi catre inceputul paginii">
        <div id="triunghi">🠹</div> 

    </a>
    </body>
</html>