<footer>
    <address>
        Strada Fericirii, nr. 10, București, sector 1, România
    </address>
    <a href="mailto:cknsnkr@yahoo.com">Trimite un mail</a>
    <a href="tel:+0768559845">Numar telefon</a>
    <a href="skype:ckn.snrks">Skype</a>
    <a href="https://wa.link/594lhj">Whatsapp</a>
    <a href="https://goo.gl/maps/qJ57gDqiLzU5ix4V8" target="_blank">Locatie</a>
    <p id="watermark"></p>
    <p id="banner">Acesta este un proiect scolar. <button id="ok_cookies">Ok</button></p>
</footer>